aiofiles==24.1.0
beautifulsoup4==4.12.3
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
curl_cffi==0.11.1
et_xmlfile==2.0.0
idna==3.10
loguru==0.7.3
lxml==5.3.2
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
pillow==11.0.0
pycparser==2.22
pycryptodome==3.21.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
soupsieve==2.7
typeguard==4.4.2
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
